# Assignment Day-21

## Logistic Regression on Attrition problem

In [1]:
import pandas as pd
import statsmodels.api as sm

In [17]:
data=pd.read_csv("general_data.csv")
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [18]:
data.dropna(inplace=True)
data.shape

(4382, 24)

In [19]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [20]:
data = data.drop(columns = ['EmployeeID', 'EmployeeCount', 'Over18', 'StandardHours', ])

In [22]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data['Attrition'] = le.fit_transform(data['Attrition'])
data['BusinessTravel'] = le.fit_transform(data['BusinessTravel'])
data['EducationField'] = le.fit_transform(data['EducationField'])
data['Gender'] = le.fit_transform(data['Gender'])
data['Department'] = le.fit_transform(data['Department'])
data['MaritalStatus'] = le.fit_transform(data['MaritalStatus'])
data['JobRole'] = le.fit_transform(data['JobRole'])

In [23]:
Y1 = data['Attrition']
X1 = data.drop(columns = ['Attrition'])

In [24]:
X1=sm.add_constant(X1)

In [26]:
logistic=sm.Logit(Y1,X1)

In [28]:
result=logistic.fit()

Optimization terminated successfully.
         Current function value: 0.392916
         Iterations 7

In [29]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4382
Model:                          Logit   Df Residuals:                     4362
Method:                           MLE   Df Model:                           19
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                  0.1093
Time:                        19:12:14   Log-Likelihood:                -1721.8
converged:                       True   LL-Null:                       -1933.1
Covariance Type:            nonrobust   LLR p-value:                 8.681e-78
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.0270      0.414      0.065      0.948      -0.785       0.839
Age                        -0.0307      0.007     -4.478      0.000      -0.044      -0.017
BusinessTravel             -0.0137      0.066     -0.209      0.834      -0.143       0.115
Department                 -0.2229      0.082     -2.735      0.006      -0.383      -0.063
DistanceFromHome           -0.0012      0.005     -0.231      0.818      -0.012       0.009
Education                  -0.0664      0.043     -1.555      0.120      -0.150       0.017
EducationField             -0.0954      0.034     -2.849      0.004      -0.161      -0.030
Gender                      0.0855      0.090      0.952      0.341      -0.091       0.262
JobLevel                   -0.0285      0.040     -0.716      0.474      -0.107       0.050
JobRole                     0.0400      0.018      2.226      0.026       0.005       0.075
MaritalStatus               0.5835      0.063      9.212      0.000       0.459       0.708
MonthlyIncome           -1.815e-06   9.57e-07     -1.897      0.058   -3.69e-06    6.01e-08
NumCompaniesWorked          0.1174      0.018      6.390      0.000       0.081       0.153
PercentSalaryHike           0.0126      0.012      1.067      0.286      -0.011       0.036
StockOptionLevel           -0.0675      0.052     -1.302      0.193      -0.169       0.034
TotalWorkingYears          -0.0584      0.012     -4.873      0.000      -0.082      -0.035
TrainingTimesLastYear      -0.1443      0.035     -4.097      0.000      -0.213      -0.075
YearsAtCompany              0.0132      0.018      0.718      0.473      -0.023       0.049
YearsSinceLastPromotion     0.1328      0.020      6.479      0.000       0.093       0.173
YearsWithCurrManager       -0.1394      0.022     -6.288      0.000      -0.183      -0.096
===========================================================================================
"""

## Inference:
1. Age,MaritalStatus,NumCompaniesWorked,TotalWorkingYears,TrainingTimesLastYear,YearsSinceLastPromotion and YearsWithCurrManager are more significantly important than others(that means these factors highly affect the attrition in employees).

2. Department,EducationField,JobRole are significatly important.

3. BusinessTravel and DistanceFromHome have high probability of Attrition.

# Logistic Regression on Bank Personal Loan Modeling

In [30]:
data1=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [31]:
data1.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [33]:
data1 = data1.drop(columns = ['ID', 'ZIP Code'] )
data1.drop_duplicates(inplace=True)
data1.shape

(4987, 12)

In [34]:
Y = data1['Personal Loan']
X = data1[['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education', 'Mortgage', 'Securities Account', 'CD Account', 'Online', 'CreditCard']]

In [35]:
X=sm.add_constant(X)

In [37]:
logistic=sm.Logit(Y,X)

In [38]:
result=logistic.fit()

Optimization terminated successfully.
         Current function value: 0.133802
         Iterations 9

In [39]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 4987
Model:                          Logit   Df Residuals:                     4976
Method:                           MLE   Df Model:                           10
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                  0.5776
Time:                        19:30:42   Log-Likelihood:                -667.27
converged:                       True   LL-Null:                       -1579.7
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Age                   -0.5065      0.022    -23.020      0.000      -0.550      -0.463
Experience             0.5077      0.024     20.818      0.000       0.460       0.556
Income                 0.0515      0.003     20.529      0.000       0.047       0.056
Family                 0.6311      0.071      8.837      0.000       0.491       0.771
CCAvg                  0.1110      0.039      2.859      0.004       0.035       0.187
Education              1.7306      0.111     15.582      0.000       1.513       1.948
Mortgage               0.0006      0.001      1.029      0.303      -0.001       0.002
Securities Account    -1.0126      0.283     -3.578      0.000      -1.567      -0.458
CD Account             3.8114      0.318     11.967      0.000       3.187       4.436
Online                -0.7140      0.154     -4.638      0.000      -1.016      -0.412
CreditCard            -1.1665      0.201     -5.794      0.000      -1.561      -0.772
======================================================================================
"""

## Inference:
1. Age,Experience,Income,Family,Education,Securities Account,CD Account,Online and CreditCard are highly significant that means these factors are affecting highly for sanctioning loan.
2. Avg is also affecting to some extent for sanctioning loan.