# Project-2 : Build Decision Tree for Attrition Rate Analysis

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [5]:
data=pd.read_csv("general_data.csv")
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [6]:
data = data.drop(columns = ['EmployeeID', 'EmployeeCount', 'Over18', 'StandardHours', ])

In [7]:
data.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
PercentSalaryHike            int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [8]:
data.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
PercentSalaryHike           0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [15]:
data["NumCompaniesWorked"].mean()

2.6918367346938776

In [16]:
data["TotalWorkingYears"].mean()

11.279936378095888

In [17]:
New_NumCompaniesWorked=np.where(data["NumCompaniesWorked"].isnull(),3,data["NumCompaniesWorked"])
New_TotalWorkingYears=np.where(data["TotalWorkingYears"].isnull(),11,data["TotalWorkingYears"])

In [18]:
data["NumCompaniesWorked"]=New_NumCompaniesWorked
data["TotalWorkingYears"]=New_TotalWorkingYears

In [20]:
objects=data.select_dtypes(include = "object").columns

In [21]:
label_encoder = preprocessing.LabelEncoder()
encoded = data.apply(label_encoder.fit_transform)

In [22]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features =2,oob_score=True)

In [23]:
features =["Age","BusinessTravel", "Department", "DistanceFromHome", "Education", "EducationField", "Gender", "JobLevel", "JobRole",  "MaritalStatus", "MonthlyIncome", "NumCompaniesWorked",  "PercentSalaryHike", "StockOptionLevel",  "TotalWorkingYears", "TrainingTimesLastYear", "YearsAtCompany","YearsSinceLastPromotion", "YearsWithCurrManager"]

In [24]:
rf_model.fit(X=encoded[features],y=encoded["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [25]:
print("OOB Accuracy :",rf_model.oob_score_)

OOB Accuracy : 0.9997732426303855

In [26]:
for feature, imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.09730531263500371
BusinessTravel 0.028122419551332684
Department 0.026167765373643362
DistanceFromHome 0.07006557189506028
Education 0.041013334183571344
EducationField 0.04148233730161871
Gender 0.018125945917719665
JobLevel 0.037528492580510664
JobRole 0.05570494337832565
MaritalStatus 0.03937916910487397
MonthlyIncome 0.09387125506567712
NumCompaniesWorked 0.05593564875148153
PercentSalaryHike 0.06522666857262602
StockOptionLevel 0.034352870247225865
TotalWorkingYears 0.08583301259298305
TrainingTimesLastYear 0.045492934000601865
YearsAtCompany 0.06855804888426864
YearsSinceLastPromotion 0.042388073988718425
YearsWithCurrManager 0.053446195974757464

In [27]:
tree_model =tree.DecisionTreeClassifier(max_depth = 8)

In [28]:
predictors =pd.DataFrame([encoded['Age'],encoded['MonthlyIncome'],encoded['TotalWorkingYears'],encoded['DistanceFromHome'],encoded['YearsAtCompany'],encoded['PercentSalaryHike'],encoded['NumCompaniesWorked'],encoded['JobRole'],encoded['YearsWithCurrManager']]).T

In [29]:
tree_model.fit(X=predictors,y=encoded["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [30]:
with open("Attrition_Model.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Age","MonthlyIncome","TotalWorkingYears","DistanceFromHome","YearsAtCompany","PercentSalaryHike","NumCompaniesWorked","JobRole","YearsWithCurrManager"],out_file=f);

In [31]:
print("Classification Accuracy with the features  is :", tree_model.score(X=predictors,y=encoded["Attrition"]))

Classification Accuracy with the features  is : 0.9018140589569161