# Project-1: Build Decision Tree and Prediction

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import preprocessing

In [2]:
titanic_train=pd.read_csv("train.csv")
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic_train["Age"].mean()

32.69985376827896

In [4]:
new_age_var=np.where(titanic_train["Age"].isnull(),32,titanic_train["Age"])

In [5]:
titanic_train["Age"]=new_age_var

In [6]:
label_encoder=preprocessing.LabelEncoder()
encoded_sex=label_encoder.fit_transform(titanic_train["Sex"])

In [7]:
predictors=pd.DataFrame([encoded_sex,titanic_train["Age"],titanic_train["Fare"]]).T

In [8]:
tree_model=tree.DecisionTreeClassifier()

In [9]:
tree_model.fit(predictors,titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [10]:
with open ("DecisionTree.dot","w") as f:
    f=tree.export_graphviz(tree_model,feature_names=["Sex","Age","Fare"],out_file=f);

In [11]:
print("Classification accuracy with the features is:",tree_model.score(predictors,titanic_train["Survived"]))

Classification accuracy with the features is: 0.9763779527559056

## Prediction:

In [12]:
titanic_test=pd.read_csv("test.csv")

In [13]:
new_age_var=np.where(titanic_test["Age"].isnull(),33,titanic_test["Age"])

In [14]:
titanic_test["Age"]=new_age_var

In [15]:
encoded_sex_test=label_encoder.fit_transform(titanic_test["Sex"])

In [16]:
test_features=pd.DataFrame([encoded_sex_test,titanic_test["Age"],titanic_test["Fare"]]).T

In [17]:
test_preds=tree_model.predict(test_features)

In [18]:
predicted_output=pd.DataFrame({"PassengerId":titanic_test["PassengerId"],"Survived":test_preds})

### We can see the predicted output in Output.csv file

In [19]:
predicted_output.to_csv("Output.csv",index=False)